# Hidden files
.*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Slurm files
slurm*.out

# Build directory(ies)
build*/
todi*/
